# Visual Studio 相关文件（必加）
.vs/**/*                # VS 的缓存目录（包含 .ipch 文件）
*.ipch              # 单独忽略所有 .ipch 文件
obj/                # 编译生成的目标文件目录
bin/                # 编译生成的可执行文件目录
Debug/              # 调试目录
Release/            # 发布目录
*.suo               # VS 解决方案用户选项文件
*.sdf               # VS 数据库文件

# 忽略当前目录下的 out 文件夹（及其所有内容）
out/**/*

# 忽略 resource/ 下所有子文件夹（任意层级）的 .tga
resource/**/*.tga